page-predictions {
	@font-face{
	font-family: NotoSerif;
	src: url ('../assets/fonts/noto-serif.woff2');
	}

	h1{
		font-family: NotoSerif;
		font-size: 4.6rem;
		font-style: italic; 
		padding: 0 25%;
	}
}